[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/AlexisChartier/api-gateway
[submodule "user-service"]
	path = user-service
	url = https://github.com/AlexisChartier/eventy-user-service
[submodule "eventy-user-service"]
	path = eventy-user-service
	url = https://github.com/AlexisChartier/eventy-user-service
